<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">  
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width,initial-scale=1">  
        <link rel="stylesheet" href="~/css/style.css"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <title>Projects</title>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">  
            <div class="container-fluid">  
                <div class="navbar-header">  
                    <a class="navbar-brand" href="/projects/">Devin Ercolano</a>  
                </div>  
                <ul class="nav navbar-nav">  
                    <li class="active"><a href="/projects/">Projects</a></li>  
                    <li><a href="/contact/">Contact</a></li>  
                </ul>  
            </div>
        </nav>
        <div class="wrapper">
            <div class="about_container">
                <h1>Devin Ercolano</h1>
                <h3>Software Developer</h3>
                <p class="about_me">
                    I strive to understand concepts thoroughly, across their layers and levels when I program and collaborate. I want to optimize how I use my time, resources, and understanding to solve problems. My life in all ways, especially through programming, is a boundless opportunity to create. To me, solutions and resolutions are unending and forever leading to new inquiries and puzzles.
                </p>
            </div>
            <div class="projects_container">
                <div class="project">
                    <h2>Classic Arcade</h2>
                    <img class="projectImg" src="~/img/arcadeHome.png">
                    <p class="project_description">The project consists of a website that hosts classic arcade style games; currently, Breakout and Tetris. I gathered user's game data and fed that data into Plotly's graphing API. This project was created using Python, Django, HTML, CSS, JavaScript, and Plotly. Visit the games <a href="http://18.188.173.123/games/">here</a></p>
                </div>
                <div class="project">
                    <h2>Login & Registration</h2>
                    <img class="projectImg" src="~/img/loginRegistration.png">
                    <p class="project_description">A form with validated input that stores user infomation into a database upon registration and stores a user's session data upon login. This project was built using Django, Python, HTML, and CSS.</p>
                </div>
                <div class="project">
                    <h2>Cyber Security Scenario</h2>
                    <img class="projectImg" src="~/img/edurange.png">
                    <p class="project_description"> I utilized AWS cloud computing with instances of both Windows and Linux operating systems, and developed C, Chef, T-SQL and Ruby code. I created a scoring machine that automatically tracked the success of each team and posted the results in real time, a database to that held false sensitive information that the attacking team tries to steal data from, and the Windows Server 2008 system that the defending team tries to protect.</p>
                </div>
            </div>
        </div>
    </body>
</html>